*{
    padding: 0;
    margin: 0;
}


html{
    font-size: 20px;
    height: 100%;
}

body{
    background: rgb(251,63,63);
    background: linear-gradient(90deg, rgba(251,63,63,1) 0%, rgba(247,133,133,1) 50%, rgba(252,140,70,1) 100%);
    display: flex;
    flex-direction:column;
    min-height: 100%;
}

.cala{
    width: 7%;
}


.cala img{
    width: 75%;
}


.partido img{
    width: 25%;
}

.partido_s img{
    width: 100%;
    border-radius: 10px;
    transition: all, 1s;
}

.partido_s img:hover{
    width: 104%;
}

.footer{
    margin-top:auto;
    padding-top: 2rem;
    height: 2rem;
    text-align: center;
}



iframe {
    max-width: 100%;
    height: 395px;
    overflow: hidden;
}